/* Universal Styles */

font-face {
  font-family: "Raleway-Thin";
  src: url("../fonts/raleway/Raleway-Thin.ttf") format("truetype");
}

html body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 1rem;
}

.container h2 {
  font-size: 2rem;
  margin: 1rem 0 2rem;
  color: rgb(65, 201, 245);
  font-family: Arial, Helvetica, sans-serif;
}

.container h3 {
  font-size: 1.5rem;
  margin: 1rem 0 2rem;
  color: rgb(245, 65, 218);
}

main {
  margin-top: 5rem;
}

/* Header section */

.header {
  top: 0;
  width: 100%;
  border-bottom: 1px grey solid;
  position: fixed;
  background-color: white;
  opacity: 0.95;
  margin: 0 auto;
  z-index: 10;
}

.logo {
  float: left;
}

.logo a {
  font-size: 2em;
  line-height: 2em;
}

.header nav {
  float: right;
  line-height: 4em;
}

nav li {
  display: inline-block;
  margin: 0 10px;
  font-size: 1.2em;
}

nav a {
  text-decoration: none;
  color: rgb(65, 201, 245);
  z-index: 11;
}

a:hover {
  color: rgb(245, 65, 218);
}

/* banner section */

#home {
  padding: 2%;
}

#home img {
  height: 25em;
}

#home h1 {
  font-size: 2.5rem;
  margin: 1rem 0 1rem;
  color: rgb(245, 65, 218);
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px grey solid;
  padding-bottom: 1em;
}

#home .container {
  display: flex;
  justify-content: center;
}

#home .text {
  width: 45%;
  padding: 8em 3em 8em 0;
}

/* Portfolio section */

#portfolio {
  padding: 2%;
}

.work-container {
  width: 30%;
  text-align: center;
}

.work-container img {
  width: 100%;
  padding-bottom: 1em;
}

.feature {
  display: flex;
  justify-content: space-between;
}

.feature p {
  font-size: 1.2em;
}

/* javascript section */

/* skill section */

#skill {
  padding: 5%;
}

#skill .skill-container {
  width: 10%;
  text-align: center;
}

.skill-container img {
  width: 100%;
  padding-bottom: 1em;
}

.skill-set {
  display: flex;
  justify-content: space-between;
}

/* about section */

.about-me {
  height: 40rem;
  background-image: url("../img/About.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

#about h2 {
  color: white;
  margin-top: 15%;
}

#about p {
  color: white;
  line-height: 2em;
}

#about .container {
  max-width: 40%;
  margin: 0 3em;
  padding: 0 1rem;
  text-align: left;
}

/* footer section */

footer img {
  width: 5%;
  padding: 2em;
}

.container-footer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 2em;
  border-top: 1px grey solid;
  margin: 0 auto;
}
